/* Global */
*{ 
    padding: 0;
    margin: 0;
}
body{background-color:#BBBFC2;}


.container {
    width:980px; 
    margin: 0 auto 40px; 
    background-color:#fff;
    overflow: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
#header {margin-bottom:60px;}
#header img {
    display:block; 
    margin: auto; 
    width:100%;
}
#menu { 
    width:300px;
    float:left; 
    background-image: -ms-linear-gradient(top, #EBECED 0%, #D1D5D6 100%);
    background-image: -moz-linear-gradient(top, #EBECED 0%, #D1D5D6 100%);
    background-image: -o-linear-gradient(top, #EBECED 0%, #D1D5D6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBECED), color-stop(100, #D1D5D6));
    background-image: -webkit-linear-gradient(top, #EBECED 0%, #D1D5D6 100%);
    background-image: linear-gradient(to bottom, #EBECED 0%, #D1D5D6 100%);
    position: relative;
    padding-bottom: 195px;
    overflow: hidden;
}

#menu > div {
    color:#9BA0A4; 
    cursor:pointer; 
    font-family: 'Source Sans Pro', sans-serif;
    padding-right:85px;
    line-height:60px;
    text-align: right;
    border-bottom:1px solid #FFF;
    position: relative;
}

#menu > div > span.sprite {
    display: inline-block;
    position: absolute;
    right:24px;
    top:18px;
    z-index: 2;
    width:30px;
    height:25px;
    background: url("images/icons/sprites/icons_small.png") no-repeat left top;
    overflow:hidden;
}

/* Menu sprites */
#menu > #step-1 > span.sprite {}
#menu > #step-1.active > span.sprite { background-position: 0 -175px; }

#menu > #step-2 > span.sprite {background-position: 0 -25px;}
#menu > #step-2.active > span.sprite {background-position: 0 -200px;}

#menu > #step-3 > span.sprite {background-position: 0 -50px;}
#menu > #step-3.active > span.sprite {background-position: 0 -225px;}

#menu > #step-4 > span.sprite {background-position: 0 -75px;}
#menu > #step-4.active > span.sprite {background-position: 0 -250px;}

#menu > #step-5 > span.sprite {background-position: 0 -100px;}
#menu > #step-5.active > span.sprite {background-position: 0 -275px;}

#menu > #step-6 > span.sprite {background-position: 0 -125px;}
#menu > #step-6.active > span.sprite {background-position: 0 -300px;}

#menu > #step-7 > span.sprite {background-position: 0 -150px;}
#menu > #step-7.active > span.sprite {background-position: 0 -325px;}

#menu div > span.text {
    position: relative;
    z-index: 2;
    font-size:18px;
    transition: all 0.3s ease;
} 
#menu div.active > span.text { 
    color:#36ABE1;
    font-family:'Source Sans Pro Semibold', sans-serif;
}

#menu > span.highlight {
    transition: top 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 60px;
}
#menu.highlight-step-0 > span.highlight { top:0; }
#menu.highlight-step-1 > span.highlight { top:61px; }
#menu.highlight-step-2 > span.highlight { top:122px; }
#menu.highlight-step-3 > span.highlight { top:183px; }
#menu.highlight-step-4 > span.highlight { top:244px; }
#menu.highlight-step-5 > span.highlight { top:305px; }
#menu.highlight-step-6 > span.highlight { top:366px; }

#menu > span.shadowings {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    z-index: 2;
    width: 1px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#content-container { 
    position:relative; 
    width:680px;
    height:300px;
    overflow:hidden;
}
#content-container #content { 
    height:300px;
    position:relative;
    padding:0 70px;

}
#content-container #content > div { 
    height:300px;
}
.step-container { 
    font-size:13px;      
    font-family:Helvetica;
    color:#65686F;
    line-height:18px;
}
.step-container img {
    display: block;
    margin-bottom:11px;
}
.step-container p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #65686F;
}
.step-container p.first {
    margin: -5px 0 20px 0;
}
.step-container > span {
    font-size:13px;
    color:#65686F; 
    position:relative;
    top:40px;
}
.step-container > span span {
    color: #6fbee7;
}
